# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Satellite / Project Data
# =========================
data/raw/*
data/processed/*

# Keep README files inside data folders
!data/raw/README.md
!data/processed/README.md

# =========================
# ML Model Files
# =========================
models/checkpoints/
*.pt
*.pth
*.ckpt
*.onnx
*.safetensors

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Docker
# =========================
*.tar

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Cache
# =========================
*.tmp
*.temp
.cache/